@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#confetti-canvas {
  position: fixed;
}

html {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  margin: 10px auto;
  width: 530px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.header {
  background: dodgerblue;
  height: 100px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 30px;
}

.player-container {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  cursor: default;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.far {
  font-size: 50px;
  margin: 0 10px;
  transition: all 0.1s ease-in-out;
}

#player .far{
  color: dodgerblue;
  cursor: pointer;
}
#player .choice {
  color: dodgerblue
}

#computer .far,
#computer .choice {
  color: rgb(255, 0, 0);
}

#player .far:last-of-type,
#computer .far:last-of-type {
  margin-right: 0;
}

#player .far:first-of-type,
#computer .far:first-of-type {
  margin-left: 0;
}

.selected {
  color: rgba(0, 0, 0, 0.884) !important;
}

.reset-container {
  text-align: center;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin: 15px auto;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 15px 0;
}

.result-text {
  font-size: 40px;
  margin: unset;
  height: 3rem;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    width: 95%;
    height: auto;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 400px) {

  h1 {
    font-size: 22px;
  }

  h2 {
    text-align: center;
  }

  .player-container {
    padding: 0;
  }

  .far {
    font-size: 43px;
  }

  .reset-container {
    margin-top: 25px;
  }

  .result-container {
    margin: 0 20px;
  }
}